<!-- Footer -->
<a name="contact">
    <section id="footer">
        <img class="logo" src="static/images/my_logo.png" alt="logo">
        <p>Build your website as you wish.</p>
        <footer class="white-section">
            <i class="footer-img fa fa-solid fa-cat fa-2x icon"></i>
            <i class="footer-img fa fa-solid fa-cross fa-2x icon"></i>
            <i class="footer-img fa fa-solid fa-fan fa-2x icon"></i>
            <i class="footer-img fa fa-solid fa-eye fa-2x icon"></i>
            <p>Handcrafted by me © 2022 </p>
        </footer>
    </section>
</a>

</body>

</html>